@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10% 0% 0% 10%; 
}

html, body {
  overflow-x: hidden;   /* ❌ ห้ามเลื่อนแนวนอน */
}

body {
    font-family:'Noto Sans JP', sans-serif;
    background-color: #f7f3ed;
    /* min-height: 300vh; */
    background-size: cover;
    background-position: center;
    color: #333;
    
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #452e1f;
    /* transition: background 0.2s linear; */
    z-index: 1000;
    border-bottom: 1.5px solid #b4b4b48f;
}

/* .navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 90%;
  transform: translateX(-50%);
  width: 40%;
  border-bottom: 1.5px solid #b4b4b48f;
} */

.logo ul{
    font-size: 1.5em;
    font-weight: bold;
    color: #f7f3ed;
    display: flex;
    flex-direction: row;
    margin-top: 9px;

    
}

.menu a {
    color: #f7f3ed;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #a8a4a0;
}

.main {
    display: block;
    /* justify-content: center; */
    padding: 20px;
    margin-top: 4%;
}

.Home {
    margin-top: 50px;
    padding: 20px;
    color: #452e1f;
    text-align: left;
}

.Home h1{
    padding-top: 1px;
    padding-left: 50px;
    font-size: 3.62rem;
}

.Home a{
    padding: 14px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #452e1f;
    text-decoration: none;
    font-weight: bold;
    color: #f7f3ed;
    border-radius: 60px;
    margin-left: 50px;
    transition: background-color 0.3s;
}

.Home a:hover {
    background-color: #3C2F2791;
}

.HomePig{
    justify-content: center;
}

.HomePig img{
    width: 800px;
    margin-top: -370px;
    border-radius: 100px;
    margin-left: 90vh;
    
}

.pigbg1 {
    width: 570px;
    height: 570px;
    border-radius: 500px;
    /* background: linear-gradient(to bottom, rgba(254, 250, 244,1),
                                           rgba(254, 250, 244,1),
                                           rgba(233, 180, 141, 1)); */
    /* border-radius: 50%; */
    background-color: #e9b38d9a;
    margin-top: -750px;
    margin-left: 600px;
}

.pigbg2 {
    width: 300px;
    height: 300px;
    border-radius: 500px;
    /* background: linear-gradient(to bottom, rgba(254, 250, 244,1),
                                           rgba(254, 250, 244,1),
                                           rgba(233, 180, 141, 1)); */
    /* border-radius: 50%; */
    background-color: #b9b8b8;
    margin-top: -550px;
    margin-left: 1000px;
}

.pigbg3 {
    width: 300px;
    height: 300px;
    border-radius: 500px;
    /* background: linear-gradient(to bottom, rgba(254, 250, 244,1),
                                           rgba(254, 250, 244,1),
                                           rgba(233, 180, 141, 1)); */
    /* border-radius: 50%; */
    background: repeating-linear-gradient(
    -60deg,
    #b9b8b8,
    #b9b8b8 10px,
    #ffffff00 10px,
    #ffffff00 20px
    );
    margin-top: 55px;
    margin-left: 625px;
}

.pageline1 {
    margin-top: 80px;
    width: 175vh;
    height: 0.75px;
    background-color: #b4b4b48f;
}

.Info {
    display: flex;
    margin-top: 120px;
    height: 500px;
}

.InText {
    display: grid;
    margin-top: -40px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.34em;
    font-family: Arial, Helvetica, sans-serif;
    color: #452e1f;
    /* text-align: justify; */
    text-indent: 2.45em;
    line-height: 1.7em;
    /* letter-spacing: 0.5px; */
    word-spacing: 0.12em;
}

.Info img{
    width: 800px;
    margin-right: 25px;
    border-radius: 20px;

}

.How {
    background-color: #fff;
    display: flex;
    margin-top: 120px;
    height: 600px;
}

.How img{
    height: 500px;
    margin-top: 50px;
    margin-left: 25px;
    border-radius: 20px;
}

.InHow {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.34em;
    font-family: Arial, Helvetica, sans-serif;
    color: #452e1f;
    /* text-align: justify; */
    text-indent: 2.45em;
    line-height: 1.6em;
    letter-spacing: 0.5px;
    word-spacing: 0.12em; 
}

.pageline2 {
    margin-top: 60px;
    width: 170vh;
    height: 0.75px;
    background-color: #b4b4b48f;
}

.Parts1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.Parts2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
  text-decoration: none; /* ไม่ให้มีขีดเส้นใต้ */
  color: inherit;         /* ใช้สีตัวอักษรเดิม */
}

.card {
    background: #fff;
    border-radius: 16px;
    width: 280px;
    height: 380px;
    transition: 0.3s;
    position: relative;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card p {
    font-size: 1.11em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, -50%);
}

.code {
    height: 1000px;;
    justify-items: center;
    background-color: #452e1f;
}

.img-code {
    max-height: 800px;
    overflow-y: auto;
    width: 110vh;
}

.img-code img {
    width: 100%;
    height: auto;
    display: block;
}

.Membe {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.Mem {
    width: 250px;
    height: 500px;
    transition: 0.3s;
    position: relative;
    overflow: visible;
    white-space: nowrap;
}

.Mem img {
    width: 85%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-left: 8%;
}

.Mem a {
    font-size: 1.6em;
    font-family: "Noto Sans Thai Looped";
    font-weight: bold;
    text-decoration: none;
    color: #333;
    position: absolute;
    left: 50%;
    bottom: 165px;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.Mem a:hover{
    color: #777777;
}

.Mem p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #333;
    position: absolute;
    left: 27%;
    bottom: 215px;
    transform: translate(-50%, -50%);
}

footer {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #b4b4b48f;
    padding-bottom: 20px;
}
